.topBarContainer {
	background-color: blueviolet;
}

.menuContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
	color: red;
	list-style: none;
}

.item {
	color: blue;
}
